<% if @paths.nil? %>
  <h1>There are currently no paths to display!</h1>
<% else %>
  <% @paths.each do |path| %>
    <div class="path">
      <ul>
        <li><a href="<%= path.url %>"><%= path.title %></a></li>
        <li><%= path.description %></li>
      </ul>
    </div>
  <% end %>

  <% unless @path.nil? %>
  <%= render partial: "_form", locals:(path: @path) %>
  <% end %>
<% end %>

