<div class="comment">
  <h3><%= @comment.body %></h3>

  <button class="styled-button"><%= link_to "Back", polymorphic_path(@commentable) %></button>
  <button class="styled-button"><%= link_to "Destroy", polymorphic_path([@commentable, @comment]), :method => :delete  %></button>
</div>