<ul class="button-menu">
  <li><button class="blue-buttons">Learn More</button></li>
  <li><button class="blue-buttons"><a href="/users/sign_in">Log In</a></button></li>
  <li><button class="blue-buttons"><a href="/users/sign_up">Sign Up</a></button></li>
</ul>
