<div id="flashy">
  <div class="splash-text">
    <h1>Every great journey starts<br>
    with a single step.</h1>
    <div id="blurb">
      <h3>Use First and Learn to collect your favorite tutorials,
       videos and articles from around the web to help you learn to do the things you love.</h3>
      <h3>Each link is a step, and each step on your personalized "path" brings you closer to
        your learning goals. Create customized paths for anything from baking to programming,
        and then share your journey with family, friends, or coworkers. </h3>
    </div>

  </div>
</div>
