<div class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collaps" data-target=".navbar-collapse">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
      <ul class="nav navbar-nav">
        <li class="navbar-item"><a class="navbar-brand" href="/">Take Me Home</a></li>
        <li class="navbar-item"><a class="navbar-brand" href="/paths/new">Forge a New Path</a></li>
        <li class="navbar-item"><a class="navbar-brand" href="/paths">Change a Path</a></li>
        <li class="navbar-item"><a class="navbar-brand" href="/paths">Explore Other Paths</a></li>
      </ul>
  </div>
</div>
<h1>First and Learn</h1>
<button><a href="/users/sign_in">Log In</a></button>
<button><a href="/users/sign_up">Sign Up</a></button>