<button class="styled-button create-tags-button">Add Tags</button>
<div id="tags-partial">
  <form action="/tags" id="new-tags">
    <label for="tag_name">Please Enter Tags Separated By Commas</label><br/>
    <input class="title-field" type="text" name="tag[name]"><br/>
    <button id="add-tags" class="styled button">Submit Tags</button>
  </form>
</div>
